body {
    background: crimson;
    font-size: 16px;
}

#hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 300px;
    border-radius: 30%;
    border: 10px black solid;
}

.text {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px navy;
    font-size: 2em;
}